:root {
    --primary: #071e86;
    --secondary: #4272f8;
    --tertiary: #94b1ff;
}

body {
    height: auto;
}

main div {
    padding: 0;
}

ul {
    list-style-type: none;
}

li {
    margin: 15px 0;
    border-bottom: var(--primary) solid 4px;
    padding-bottom: 10px;
}

.score-info {
    text-align: center;
}

.btn {
    margin-bottom: 20px;
}